<br /><footer class="text-white shadow-sm backGB py-2">
    <div class="container">
        <p style="text-align: center">.NET REST API AND RABBIT MQ PROJECT DEMONSTRATION</p>
        <hr/>
        <p class="float-end mb-1">
            <a href="#">Jump Up</a>
        </p>
        <p class="mb-1">All technologies used here are open source!</p>
        <p class="mb-0">Similar project using GraphQL coming soon. <a href="/">Visit the GitHub page </a> <a href="https://github.com/jonathancoombes">for more projects</a>.</p>
    </div>
</footer>

