<header>
    
    <div class="collapse backGB" id="navbarHeader">
        <div class="container text-opacity-50 text-white-50" style="">
            <div class="col-lg-8 col-md-7 py-3 text-white mx-auto">
                <h4 class="text-white">Webhook and RabbitMQ REST API Demonstration</h4>
                <p class="">Welcome to the .NET project which forms part of this personal portfolio</p>
                <strong class="">Use-Case</strong>
                <p>
                    This application allows for the registration of "webhooks" at the Airline by interested subscribers(Travel Agents) providing them with access to data
                    made available by the publisher(Airline). Once a webhook is registered, the subscribers will be notified of changes to current data (price changes / ticket availability etc)
                    once such an event has occurred.
                </p>
                <strong class="">Technology</strong>
                <p>
                    .NET Core as the main back-end engine that will host the RESTFull API endpoints and deliver the event-driven information via a message bus application(RabbitMQ).
                    Data will be persisted by a SQL server hosted on a Azure VM.
                    The front end user interfaces are created using Blazor and connected to the .NET Core server application via a SignalR connection.
                </p>
                <section class="text-center container text-light">

                    <div class="text-start col-lg-8 col-md-7 mx-auto ">
                        <h3 class="fw-light">System Architecture</h3>

                        <p class="">Presentation Layer: Client-side(Front-end)</p>
                        <ul style="text-align: left">
                            <li>
                                <p>Blazor</p>
                            </li>
                            <li>
                                <p>Bootstrap</p>
                            </li>
                            <li>
                                <p>HTML / CSS </p>
                            </li>
                        </ul>

                        <p class="">Business Layer: Server-side(Back-end) </p>
                        <ul style="text-align: left">
                            <li>
                                <p>.NET Core MVC API</p>
                            </li>
                            <li>
                                <p>Entity Framework (ORM) - Code First</p>
                            </li>
                            <li>
                                <p>Rabbit MQ (Message Bus)</p>
                            </li>
                        </ul>

                        <p class="">Persistence Layer: Data Storage</p>
                        <ul style="text-align: left">
                            <li>
                                <p>Microsoft SQL Server on Azure VM</p>
                            </li>
                        </ul>
                        <p>
                            <a href="https://github.com/jonathancoombes" class="btn btn-primary my-2">Project on GitHub</a>
                        </p>
                    </div>

                </section>
                
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://www.linkedin.com/in/jonathan-coombes-b0956a176/" class="text-white">Follow on LinkedIn</a></li>
                        <li><a href="https://github.com/jonathancoombes" class="text-white">Visit on GitHub</a></li>
                        <li><a href="mailto:coombes@web.de" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark backGB shadow-lg">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
                    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z" />
                </svg>
                .NET REST API & RABBIT MQ PROJECT EXAMPLE
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="bi bi-info-square-fill"></span>
            </button>
        </div>
    </div>
</header>

